[variables]
NODE_VERSION = "20"

[phases.setup]
nixPkgs = ["python3", "nodejs", "gcc", "make"]

[phases.install]
cmds = ["export PYTHON=$(which python3) && npm config set python $(which python3) && npm install"]

[phases.build]
cmds = ["npm run prebuild", "npm run build"]

[start]
cmd = "npm start"

