[variables]
NODE_VERSION = "20"

[phases.setup]
nixPkgs = ["python3", "nodejs", "gcc", "gnumake", "pkg-config", "systemd.dev"]

[phases.install]
cmds = ["PYTHON=$(which python3) npm install"]

[phases.build]
cmds = ["npm run prebuild", "npm run build"]

[start]
cmd = "npm start"

