[variables]
NODE_VERSION = "20"

[phases.setup]
nixPkgs = ["python3", "nodejs", "gcc", "make"]

[phases.install]
cmds = ["npm config set python python3", "PYTHON=$(which python3) npm install"]

[phases.build]
cmds = ["npm run prebuild", "npm run build"]

[start]
cmd = "npm start"

