[variables]
NODE_VERSION = "20"

[phases.setup]
nixPkgs = ["python3", "nodejs"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run prebuild", "npm run build"]

[start]
cmd = "npm start"

